<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productShop.css" />
    <link rel="stylesheet" href="/css/statics/products.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <section id="head-title-product">
        <article>
          <div>
            <h1>Productos</h1>
          </div>
        </article>
      </section>
      <section>
        <article id="breadcrumb">
          <div>
            <a href="/">Inicio</a>
            <span class="separator"> | </span>
            <span class="page-title">Productos</span>
          </div>
        </article>
      </section>
      <!--! FILTROS -->
      <section class="container-filter">
        <article id="filtros-productos">
          <div class="filtro-div">
            <button>
              <span>Filtrar</span>
              <i class="fas fa-sliders-h"></i>
            </button>
          </div>
          <div id="listFilter">
            <form action="" class="form-container-filters">
              <div id="title-filter-1">
                <h3>Filtros</h3>
                <i class="fas fa-times"></i>
              </div>

              <div class="entrega-Inmediata-div">
                <h4>Productos</h4>
                <label>
                  <input
                    class="input-todos"
                    type="radio"
                    value="*"
                    name="filter_product_tag"
                  />
                  <span>Todos</span>
                </label>
                <label>
                  <input
                    class="input-Ofertas"
                    type="radio"
                    value="Ofertas"
                    name="filter_product_tag"
                  />
                  <span>En Ofertas</span>
                </label>
              </div>
              <div class="categorias-div">
                <h4>Cafés</h4>
                <label>
                  <input
                    class="input-Hot-Coffees"
                    aria-hidden="true"
                    type="checkbox"
                    value="coffee-Hot-Coffees"
                    name="filter_product_cat"
                  />
                  <span>Hot Coffees</span>
                </label>
                <label>
                  <input
                    class="input-Cold-Coffee"
                    aria-hidden="true"
                    type="checkbox"
                    value="coffee-Cold-Coffee"
                    name="filter_product_tag"
                  />
                  <span>Cold Hoffees</span>
                </label>
                <label>
                  <input
                    class="input-Hot-Drinks"
                    aria-hidden="true"
                    type="checkbox"
                    value="coffee-Hot-Drinks"
                    name="filter_product_tag"
                  />
                  <span>Hot Drinks</span>
                </label>
                <label>
                  <input
                    class="input-Cold-Drinks"
                    aria-hidden="true"
                    type="checkbox"
                    value="coffee-Cold-Drinks"
                    name="filter_product_tag"
                  />
                  <span>Cold Drinks</span>
                </label>
                <label>
                  <input
                    class="input-Hot-Teas"
                    aria-hidden="true"
                    type="checkbox"
                    value="coffee-Hot-Teas"
                    name="filter_product_tag"
                  />
                  <span>Hot Teas</span>
                </label>
              </div>
              <div class="categorias-div">
                <h4>Comida</h4>
                <label>
                  <input
                    class="input-Hot-Breakfast"
                    aria-hidden="true"
                    type="checkbox"
                    value="comida-Hot-Breakfast"
                    name="filter_product_cat"
                  />
                  <span>Hot Breakfast</span>
                </label>
                <label>
                  <input
                    class="input-Lunch"
                    aria-hidden="true"
                    type="checkbox"
                    value="comida-Lunch"
                    name="filter_product_tag"
                  />
                  <span>Lunch</span>
                </label>
                <label>
                  <input
                    class="input-Bakery"
                    aria-hidden="true"
                    type="checkbox"
                    value="comida-Bakery"
                    name="filter_product_tag"
                  />
                  <span>Bakery</span>
                </label>
                <label>
                  <input
                    class="input-Snacks-&-Sweets"
                    aria-hidden="true"
                    type="checkbox"
                    value="comida-Snacks-&-Sweets"
                    name="filter_product_tag"
                  />
                  <span>Snacks & Sweets</span>
                </label>
              </div>
            </form>
          </div>
        </article>
      </section>
      <section class="container-filter-orden">
        <article id="ordenarPor-productos">
          <div class="ordenar-div">
            <button>
              <span>Ordenar</span>
              <i class="fas fa-angle-down"></i>
            </button>
          </div>
          <div id="listaFiltrarOrden">
            <span>Orden por defecto</span>
            <span>Ordenar por calificación</span>
            <span>Ordenar por los últimos</span>
            <span>Ordenar por precio: alto a bajo</span>
          </div>
        </article>
      </section>

      <section class="section-products">
        <% if(locals && locals.products) { %>
        <div class="products">
          <% products.forEach((product) => { %>
          <a href="/products/detail/<%=product.id%>">
            <article class="product-container">
              <div class="product-image">
                <picture>
                  <img src="/img/products/<%= product.image %>" alt="" />
                  <div class="product-stars">
                    <% let rating = Math.round(product.rating) %> <% for(let e =
                    0; e < rating ; e++) { %>
                    <i class="fas fa-star"></i>
                    <% } %> <% let starOver = 5 - rating %> <% for(let a = 0; a
                    < starOver; a++) { %>
                    <i class="far fa-star"></i>
                    <% } %>
                  </div>
                </picture>
              </div>
              <div class="product-descriptions">
                <span class="product-Name"><%=product.name%></span>
                <% if(product.offer > 0) { %>
                <div>
                  <% let newPrice=((product.price * product.offer /
                  100).toFixed(2))%>
                  <span class="product-Price"
                    >$<%=(product.price - newPrice).toFixed(2)%></span
                  >
                  <span class="product-offer"><%=product.offer%>%</span>
                </div>
                <% } else { %>
                <span class="product-Price">$<%=product.price%></span>
                <% } %>
              </div>
            </article>
          </a>
          <% }) %>
        </div>
        <% } else { %>
        <div class="product-error">
          <h2>No existen productos en la base de datos.</h2>
        </div>
        <% } %> <% if(locals && !locals.products.length > 0) { %>
        <div class="product-error">
          <h3>No hay productos que coincidan con esa búsqueda.</h3>
        </div>
        <% } %>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
