<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productDetail.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <section class="breadcrumb-content">
        <article id="breadcrumb">
          <div>
            <a href="/">Inicio</a>
            <span class="separator">|</span>
            <a href="/products">Productos</a>
            <span class="separator">|</span>
            <span class="page-title"><%=product.name%></span>
          </div>
        </article>
      </section>
      <% if(product.stock == 0){ %>
      <section>
        <br /><br /><br />
        <div class="producto-sin-stock">
          <h2>Este producto se encuentra agotado.</h2>
        </div>
        <br /><br /><br />
      </section>
      <% } %>
      <section class="conteiner-section">
        <article class="product-detail">
          <div class="imagen">
            <div class="imagen-producto">
              <img
                class="capuccino"
                src="/img/products/<%=product.image%>"
                alt="imagen del producto"
              />
            </div>
          </div>
          <div class="form">
            <form action="">
              <h1><%=product.name%></h1>
              <div>
                <p class="price">$<%=product.price%></p>
                <p class="promo-plus">
                  Suscribite a Coffee Shop Plus y obtene un descuento en todos
                  tus productos!
                </p>
              </div>
              <div class="tamaño-vaso">
                <p>Tamaño</p>
                <select name="tamaño" id="" class="tamaño-cafe">
                  <option value="Small">mediano</option>
                  <option value="Big">grande</option>
                </select>
              </div>
              <div class="cant-unidades">
                <p class="unidades">Unidades</p>
                <div class="cantidad-unidades">
                  <a class="cantidad-control-down">-</a>
                  <input
                    type="text"
                    class="cantidad"
                    name="cantidad-producto"
                  />
                  <a class="cantidad-control-up">+</a>
                </div>
              </div>
              <div class="agregar-al-carrito">
                <input
                  id="addToCart"
                  type="submit"
                  name="button"
                  class="agregar-carrito"
                  value="Agregar al Carrito"
                  title=""
                />
              </div>
            </form>
            <% if (locals.userLogged) { %> <% if
            (locals.userLogged.dataValues.id_category_U == '1') { %>
            <div class="container-buttons-detail">
              <a href="/admin/edit/<%=product.id%>" class="button-edit">
                <p>EDITAR</p>
              </a>
              <div class="button-delete"><%- include('../admin/delete') %></div>
            </div>
            <% } %> <% } %>
          </div>
        </article>
        <article class="container-descrip">
          <div class="description">
            <div class="description-article">
              <h3>Descripción:</h3>
              <p><%=product.description%></p>
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
