<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/edit.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="main-createProduct">
      <div class="content-form-create">
      <div class="container-form-createProduct">
        <h1>Editando el Producto</h1>
        <br />
        <h2>ID: <%=edit.id%></h2>
        <br>
        <form class="form-editor" action="/admin/<%=edit.id%>/update?_method=PUT" method="POST" enctype="multipart/form-data">
          <label for="name">
            <p>Nombre:</p>
            <input
              type="text"
              name="name"
              placeholder="<%= edit.name%>"
              class="<%= locals.errors && errors.name ? 'is-invalid' : null %>"
              value="<%= locals.oldDate && oldDate.name ? oldDate.name : '' %>"
            />
            <% if (locals.errors && errors.name) { %>
              <p class="error-msg"><%= errors.name.msg %></p>
            <% } %>
          </label>
          <label for="">
            <p>Imagen Actual:</p>
            <div class="imagen-editProducts">
              <img src="/img/products/<%= edit.image%>" alt="imagen del producto">
            </div>
          </label>
          <label for="image">
            <p>Cambia la imagen:</p>
            <div class="buttonImage-createproduct">
              <input
                type="file"
                name="image"
                accept="image/*"
                class="<%= locals.errors && errors.image ? 'is-invalid' : null %>"
              />
              <input
                type="hidden"
                name="oldImage"
                value="<%=edit.image%>"
              />
            </div>
            <% if (locals.errors && errors.image) { %>
              <p class="error-msg"><%= errors.image.msg %></p>
            <% } %>
          </label>
          <label for="description">
            <p>Descripción:</p>
            <textarea name="description" id="" cols="20" rows="10" placeholder="<%=edit.description%>" class="<%= locals.errors && errors.description ? 'is-invalid' : null %>"><%= locals.oldDate && oldDate.description ? oldDate.description : '' %></textarea>
            <% if (locals.errors && errors.description) { %>
              <p class="error-msg"><%= errors.description.msg %></p>
            <% } %>
          </label>
          <label for="category">
            <p>Selecciona el tipo de producto:</p>
            <select 
            name="category" 
            class="<%= locals.errors && errors.category ? 'is-invalid' : null %>">
              <option value="" >Seleciona una opcion</option>
              <option 
              value="coffee" 
              <%= edit.category === 'coffee' ? 'selected' : ''; %>>Café</option>
              <option 
              value="food" 
              <%= edit.category === 'food' ? 'selected' : ''; %>>Comida</option>
            </select>
            <% if (locals.errors && errors.category) { %>
              <p class="error-msg"><%= errors.category.msg %></p>
            <% } %>
          </label>
          <!-- <label for="category2">
            <p>Selecciona una Categoria:</p>
            <select name="category2">
              <option value="undefined" selected>Ninguna</option>
              <option value="Americano">Americano</option>
            </select>
          </label> -->
          <label for="stock">
            <p>Stock:</p>
            <input 
            type="number" 
            name="stock" 
            value="<%= locals.oldDate && oldDate.stock ? oldDate.stock : '' %>" 
            placeholder="<%= edit && edit.stock ? edit.stock : 0 %>" 
            class="<%= locals.errors && errors.stock ? 'is-invalid' : null %>"/>
            <% if (locals.errors && errors.stock) { %>
              <p class="error-msg"><%= errors.stock.msg %></p>
            <% } %>
          </label>
          <label for="price">
            <p>Precio:</p>
            <input 
            type="number" 
            name="price" 
            value="<%= locals.oldDate && oldDate.price ? oldDate.price : '' %>"  
            placeholder="<%= edit && edit.price ? edit.price : 0 %>" 
            class="<%= locals.errors && errors.price ? 'is-invalid' : null %>"/>
            <% if (locals.errors && errors.price) { %>
              <p class="error-msg"><%= errors.price.msg %></p>
            <% } %>
          </label>
          <label for="offer">
            <p>Oferta:</p>
            <input 
            type="number" 
            name="offer" 
            value="<%= locals.oldDate && oldDate.offer ? oldDate.offer : '' %>" 
            placeholder="<%= edit && edit.offer ? edit.offer : 0 %>" 
            class="<%= locals.errors && errors.offer ? 'is-invalid' : null %>"
            onKeyPress="if(this.value.length==2) return false;"/>
            <% if (locals.errors && errors.offer) { %>
              <p class="error-msg"><%= errors.offer.msg %></p>
            <% } %>
          </label>
          <input type="hidden" name="rating" value="<%=edit.rating%>"/>
          <div class="container-button-editProducts">
            <input type="submit" class="button-createProduct" value="Guardar"></input>
            <a href="/products/detail/<%=edit.id%>">
              <input type="button" class="button-createProduct red" value="Cancelar Edicion"></input>
            </a>
          </div>
        </form>
      </div>
    </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
