<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/edit.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="product-creation-container">
        <div class="title-routes">
          <h2>Rutas</h2>
          <div class="configs">
            <a href="/admin/create" class="route-create-product"
              >Crear Producto</a
            >
            <a href="/admin/list" class="route-stock-products"
              >Productos Agotados</a
            >
            <a href="/admin/edit/<%= edit.id %>" class="route-edit-products"
              >Editando producto</a
            >
          </div>
        </div>

        <form class="form-editor" action="/admin/<%=edit.id%>/update?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form-product-create">
            <div class="contenedor-img-product-create">
              <div class="img-product-create">
                <picture>
                  <img
                    src="/img/products/<%= edit.image%>"
                    alt="imagen predeterminado de los productos"
                  />
                </picture>
              </div>
              <div class="boton-nueva-img">
                <div>
                  <label for="file">
                    <p>Subir nuevo archivo</p>
                    <input
                      type="file"
                      name="image"
                      id="file"
                      accept="image/*"
                      class="<%= locals.errors && errors.image ? 'is-invalid' : null %>"
                    />
                  </label>
                </div>
                <% if (locals.errors && errors.image) { %>
                <p class="errors-t"><%= errors.image.msg %></p>
                <% } %>
              </div>
            </div>
            <div class="contenedor-input-perfil">
              <div class="estilos-input">
                <label for="name">Nombre</label>
                <input
                  placeholder="Introduzca el nombre"
                  id="name"
                  name="name"
                  type="text"
                  class="<%= locals.errors && errors.name ? 'is-invalid' : 'is-valid' %>"
                  value="<%= locals.oldDate && oldDate.name ? oldDate.name : edit.name %>"
                />
                <% if(locals.errors && errors.name){ %>
                <div class="errors-t"><%= errors.name.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="category">Seleciona una categoria</label>
                <select id="category" name="category" class="<%= locals.errors && errors.category ? 'is-invalid' : 'is-valid' %>">
                  <option value="">Seleciona una opcion</option>
                  <option 
                  value="coffee" 
                  <%= edit.id_categoryP == '1' ? 'selected' : ''; %>>Café</option>
                  <option 
                  value="food" 
                  <%= edit.id_categoryP == '2' ? 'selected' : ''; %>>Comida</option>
                </select>
                <% if(locals.errors && errors.category){ %>
                <div class="errors-t"><%= errors.category.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="stock">cantidad de productos</label>
                <input
                type="number" 
                name="stock" 
                placeholder="0" 
                class="<%= locals.errors && errors.stock ? 'is-invalid' : 'is-valid' %>"
                value="<%= locals.oldDate && oldDate.stock ? oldDate.stock : edit.stock %>" 
                />
                <% if(locals.errors && errors.stock){ %>
                <div class="errors-t"><%= errors.stock.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="price">Precio</label>
                <input
                type="number" 
                name="price" 
                placeholder="0" 
                class="<%= locals.errors && errors.price ? 'is-invalid' : 'is-valid' %>"
                value="<%= locals.oldDate && oldDate.price ? oldDate.price : edit.price %>"  
                />
                <% if(locals.errors && errors.price){ %>
                <div class="errors-t"><%= errors.price.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="offer">Oferta</label>
                <input
                type="number" 
                name="offer" 
                placeholder="0" 
                class="<%= locals.errors && errors.offer ? 'is-invalid' : 'is-valid' %>"
                value="<%= locals.oldDate && oldDate.offer ? oldDate.offer : edit.offer %>" 
                />
                <% if(locals.errors && errors.offer){ %>
                <div class="errors-t"><%= errors.offer.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="description">Descripción:</label>
                <textarea
                  id="description"
                  name="description"
                  placeholder="Escriba una descripcion"
                  class="<%= locals.errors && errors.description ? 'is-invalid' : 'is-valid' %>"
                ><%= locals.oldDate && oldDate.description ? oldDate.description : edit.description %></textarea
                >
                <% if(locals.errors && errors.description){ %>
                <div class="errors-t"><%= errors.description.msg %></div>
                <% } %>
              </div>
            </div>
          </div>

          <div class="contenedor-botones">
            <div class="perfil-input-submit">
              <input type="submit" value="Guardar" class="guardar-datos" />
            </div>

            <div class="perfil-input-submit">
              <input
                type="reset"
                value="restablecer"
                class="restablecer-datos"
              />
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
