<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productDetail.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <section>
        <form action="">
          <article>
            <div>
              <div>
                <img src="<%=product.image%>" alt="" />
              </div>
            </div>
            <div class="form">
              <h1><%=product.name%></h1>
              <div>
                <p class="price">$<%=product.price%></p>
                <p class="promo-plus">
                  Suscribite a Coffee Shop Plus y obtene un descuento en todos
                  tus productos!
                </p>
              </div>
              <div class="tamaño-vaso">
                <p>Tamaño</p>
                <select name="tamaño" id="" class="tamaño-cafe">
                  <option value="Small">mediano</option>
                  <option value="Big">grande</option>
                </select>
              </div>
              <div class="cant-unidades">
                <p class="unidades">Unidades</p>
                <div class="cantidad-unidades">
                  <a class="cantidad-control-down">-</a>
                  <input
                    type="text"
                    class="cantidad"
                    name="cantidad-producto"
                  />
                  <a class="cantidad-control-up">+</a>
                </div>
              </div>
              <div class="agregar-al-carrito">
                <input
                  id="addToCart"
                  type="submit"
                  name="button"
                  class="agregar-carrito"
                  value="Agregar al Carrito"
                  title=""
                />
              </div>
              <div class="container-buttons-detail">
                <a href="/products/edit/<%=product.id%>" class="button-edit">
                  <p>EDITAR</p>
                </a>
                <div class="button-delete">
                  <form
                    action="/products/delete/<%=product.id%>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit">ELIMINAR</button>
                  </form>
                </div>
              </div>
            </div>
          </article>
          <article class="container-descrip">
            <div class="description">
              <div class="description-article">
                <h3>Descripción:</h3>
                <p><%=product.description%></p>
              </div>
            </div>
          </article>
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
