<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/list.css" />
    <link rel="stylesheet" href="/css/statics/products.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <section class="product-list-container">
        <div class="title-routes">
          <h2>Rutas</h2>
          <div class="configs">
            <a href="/admin/create" class="route-create-product"
              >Crear Producto</a
            >
            <a href="/admin/list" class="route-stock-products"
              >Productos Agotados</a
            >
          </div>
        </div>

        <div class="container-view">
          <div class="section-products">
            <% if(locals && locals.products) { %>
            <div class="products">
              <% products.forEach((product) => { %>
              <article class="product-container">
                <a href="/products/detail/<%=product.id%>">
                  <div class="product-image">
                    <picture>
                      <img src="/img/products/<%= product.image %>" alt="" />
                      <div class="product-stars">
                        <% let rating = Math.round(product.rating) %> <% for(let
                        e = 0; e < rating ; e++) { %>
                        <i class="fas fa-star"></i>
                        <% } %> <% let starOver = 5 - rating %> <% for(let a =
                        0; a < starOver; a++) { %>
                        <i class="far fa-star"></i>
                        <% } %>
                      </div>
                    </picture>
                  </div>
                  <div class="product-descriptions">
                    <span class="product-Name"><%=product.name%></span>
                    <% if(product.offer > 0) { %>
                    <div>
                      <% let newPrice=((product.price * product.offer /
                      100).toFixed(2))%>
                      <span class="product-Price"
                        >$<%=(product.price - newPrice).toFixed(2)%></span
                      >
                      <span class="product-offer"><%=product.offer%>%</span>
                    </div>
                    <% } else { %>
                    <span class="product-Price">$<%=product.price%></span>
                    <% } %>
                  </div>
                </a>
              </article>
              <% }) %>
            </div>
            <% } else { %>
            <div class="product-error">
              <h2>No existen productos en la base de datos.</h2>
            </div>
            <% } %> <% if(locals && !locals.products.length > 0) { %>
            <div class="product-error">
              <h3>No hay productos que coincidan con esa búsqueda.</h3>
            </div>
            <% } %>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
