<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/list.css" />
    <link rel="stylesheet" href="/css/statics/products.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <section class="product-list-container">
        <div class="title-routes">
          <h2>Rutas</h2>
          <div class="configs">
            <a href="/admin/create" class="route-create-product"
              >Crear Producto</a
            >
            <a href="/admin/list" class="route-stock-products"
              >Productos Agotados</a
            >
          </div>
        </div>

        <div class="container-view">
          <section class="container-products-product">
            <div class="products">
              <% for(let i=0; i < products.length; i++) { %>
              <article class="product-content">
                <div class="details">
                  <div class="image">
                    <img src="/img/products/<%=products[i].image%>" alt="imagen del producto" />
                  </div>
                  <div class="product-descriptions">
                    <span class="product-Name"><%=products[i].name%></span>
                    <span class="product-Price">$ <%=products[i].price%></span>
                  </div>
                  <% if(products[i].rating > 0)  { %>
                  <div class="product-rating">
                    <% for(let e =0; e < products[i].rating; e++) { %>
                    <i class="fas fa-star"></i>
                    <% } %>
                  </div>
                  <% } %>
                  <div class="product-buttons">
                    <a href="/products/cart/<%=products[i].id%>">
                    <button class="product-buy">Comprar</button>
                  </a>
                    <a class="product-info" href="/products/detail/<%=products[i].id%>">
                      Informacion
                    </a>
                  </div>
                </div>
              </article>
              <% } %>
          </section>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
