<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/users/styles.css" />
    <link rel="stylesheet" href="/css/users/password.css" />
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <section class="contenedor-perfil">
        <article class="elem_1">
          <div class="Container-Config">
            <button class="content-button" id="button-config">
              <i class="fas fa-cog" aria-hidden="true"></i>
              <p>Configuración</p>
              <i class="fas fa-angle-down list_arrow" aria-hidden="true"></i>
            </button>
            <ul class="list_show">
              <li class="list__inside">
                <a href="/user/profile" class="nav_link nav_link--inside">Mi Perfil</a>
              </li>
              <li class="list__inside">
                <a href="/user/profile/edit" class="nav_link nav_link--inside">Editar Perfil</a>
              </li>
              <li class="list__inside">
                <a href="/user/profile/password" class="nav_link nav_link--inside select-url">Cambiar Contraseña</a>
              </li>
              <li>
                <a href="/user/profile/orders" class="nav_link nav_link--inside">compras</a>
              </li>
            </ul>
          </div>
        </article>
        <article class="container-article elem_2">
          <div class="container-form-passw context">
            <p class="passw-text">Cambiar Contraseña</p>
            <form action="/user/update/password?_method=PUT" method="POST" class="form-style" id="formulario">
              <div class="contenedor-campo">
                <label for="oldPassword">Contraseña actual</label>
                <input placeholder="Introduzca su contraseña actual" id="oldPassword" name="oldPassword" type="password"
                  class="<%= locals.errors && errors.oldPassword ? 'is-invalid' : null %>" />
                <!-- Errores del Back -->
                <% if(locals.errors && errors.oldPassword){ %>
                  <div class="errors-t oldPasswordErrBack">
                    <%= errors.oldPassword.msg %>
                  </div>
                  <% } %>
                    <!-- Errores del Front -->
                    <div class="errors-t oldPasswordErrors"></div>
              </div>

              <div class="contenedor-campo">
                <label for="newPassword">Nueva contraseña</label>
                <input placeholder="Introduzca su nueva contraseña" id="newPassword" name="newPassword" type="password"
                  class="<%= locals.errors && errors.newPassword ? 'is-invalid' : null %>" />
                <!-- Errores del Back -->
                <% if(locals.errors && errors.newPassword){ %>
                  <div class="errors-t newPasswordErrBack">
                    <%= errors.newPassword.msg %>
                  </div>
                  <% } %>
                    <!-- Errores del Front -->
                    <div class="errors-t newPasswordErrors"></div>
              </div>

              <div class="contenedor-campo">
                <label for="confirmNewPassword">Repite la contraseña</label>
                <input placeholder="Repita su nueva contraseña" id="confirmNewPassword" name="confirmNewPassword"
                  type="password" class="<%= locals.errors && errors.confirmNewPassword ? 'is-invalid' : null %>" />
                <!-- Errores del Back -->
                <% if(locals.errors && errors.confirmNewPassword){ %>
                  <div class="errors-t confirmNewPasswordErrBack">
                    <%= errors.confirmNewPassword.msg %>
                  </div>
                  <% } %>
                    <!-- Errores del Front -->
                    <div class="errors-t confirmNewPasswordErrors"></div>
              </div>

              <div class="container-button-dark">
                <input type="submit" value="Cambiar" class="button-dark" />
              </div>
            </form>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
      <script src="/js/drop-downProfile.js" type="text/javascript"></script>
      <script src="/js/validations/newPassword.js" type="text/javascript"></script>
</body>

</html>