<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/users/login.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="contenedor-login">
      <div class="contenedor-login-titulo">
        <div class="contenedor-titulo-login">
          <h1>¿Que tomamos hoy?</h1>
        </div>
        <div class="contenedor-form-boton">
          <p class="login-text">Ingresa</p>
          <!--Formulario de registro sin servidor aún-->
          <form action="/user/login" method="POST" class="form-login">
            <div class="contenedor-campo">
              <label for="email" class="campo-label">Email</label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.email ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-envelope icono-email"></i>
                <input
                  class="campo"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="superhero@MrCoffee.com"
                  value="<%= locals.oldDate && oldDate.email ? oldDate.email : '' %>"
                />
              </div>
              <% if (locals.errors && errors.email){ %>
              <div class="text-danger"><%= errors.email.msg %></div>
              <% } %>
            </div>
            <div class="contenedor-campo">
              <label for="passwd" class="campo-label">Contraseña</label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-eye-slash icono-passwd"></i>
                <input
                  class="campo"
                  type="password"
                  id="passwd"
                  name="password"
                  placeholder="Contraseña"
                />
              </div>
              <% if (locals.errors && errors.password){ %>
              <div class="text-danger"><%= errors.password.msg %></div>
              <% } %>
            </div>
            <!--Redirección a definir-->
            <% if (locals.errors){ %>
            <div class="vinculos-login">
              <a href=""><p class="olvidaste">¿Olvidaste tu Contraseña?</p></a>
            </div>

            <% } %>
            <div class="contenedor-boton-ingresar">
              <input
                type="submit"
                value="Iniciar sesión"
                class="button-ingresar"
              />
            </div>
          </form>
          <div class="vinculos-login">
            <a href=""><p class="politicas">Crear una cuenta.</p></a>
            <br />
            <a href=""><p class="politicas">Políticas de Privacidad</p></a>
            <!--Redirección a definir-->
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
