<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/users/profile.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="contenedor-perfil">
        <div class="titulo-perfil">
          <h2>Perfil</h2>
        </div>

        <form
          action="/user/profile?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="formulario-perfil">
            <div class="contenedor-img-perfil">
              <div class="img-perfil">
                <picture>
                  <img
                    src="/img/avatar/<%= user.image %>"
                    alt="imagen de usuario"
                  />
                </picture>
              </div>
              <div class="boton-nueva-img">
                <div>
                  <label for="file">
                    <p>Subir nueva foto</p>
                    <input
                      type="file"
                      name="image"
                      id="file"
                      accept="image/*"
                    />
                  </label>
                </div>
                <% if(locals.errors && errors.image){ %>
                <p class="errors-t"><%= errors.image.msg %></p>
                <% } %>
              </div>
            </div>
            <div class="contenedor-input-perfil">
              <div class="estilos-input">
                <label for="first_name">Nombre</label>
                <input
                  placeholder="Introduzca su nombre"
                  id="first_name"
                  name="fname"
                  type="text"
                  class="<%= locals.errors && errors.fname ? 'is-invalid' : 'is-valid' %>"
                  value="<%= locals.oldDate && oldDate.fname ? oldDate.fname : user.fname %>"
                />
                <% if(locals.errors && errors.fname){ %>
                <div class="errors-t"><%= errors.fname.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="last_name">Apellido</label>
                <input
                  placeholder="Introduzca su apellido"
                  id="last_name"
                  name="lname"
                  type="text"
                  class="<%= locals.errors && errors.lname ? 'is-invalid' : 'is-valid' %>"
                  value="<%= locals.oldDate && oldDate.lname ? oldDate.lname : user.lname %>"
                />
                <% if(locals.errors && errors.lname){ %>
                <div class="errors-t"><%= errors.lname.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="email">Email</label>
                <input
                  placeholder="Introduzca su email"
                  id="email"
                  name="email"
                  type="email"
                  class="<%= locals.errors && errors.email ? 'is-invalid' : 'is-valid' %>"
                  value="<%= locals.oldDate && oldDate.email ? oldDate.email : user.email %>"
                />
                <% if(locals.errors && errors.email){ %>
                <div class="errors-t"><%= errors.email.msg %></div>
                <% } %>
              </div>

              <div class="estilos-input">
                <label for="changePsw">Contraseña</label>
                <button id="changePsw">Cambia tu contraseña</button>
              </div>
            </div>
          </div>

          <div class="contenedor-botones">
            <div class="perfil-input-submit">
              <input type="submit" value="Guardar" />
            </div>

            <div class="perfil-cancelar">
              <a href="/">Cancelar</a>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
