<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/users/register.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="contenedor-register">
      <div class="contenedor-titulo-form-boton">
        <div class="contenedor-titulo-register">
          <h1>Bienvenido a la cafeteria</h1>
        </div>

        <div class="contenedor-form-boton">
          <p class="register-text">Registrate</p>
          <!--Formulario de registro sin servidor aún-->
          <form
            action="register"
            method="post"
            class="form-register"
            enctype="multipart/form-data"
          >
            <div class="contenedor-campo">
              <label class="campo-label" for="fname">Nombre </label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.fname ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-user icono-user"></i>
                <input
                  class="campo"
                  type="text"
                  id="fname"
                  name="fname"
                  placeholder="Tú nombre"
                  value="<%= locals.oldData ? oldData.fname : null %>"
                />
              </div>
              <% if (locals.errors && errors.fname){ %>
              <div class="text-danger"><%= errors.fname.msg %></div>
              <% } %>
            </div>
            <div class="contenedor-campo">
              <label class="campo-label" for="lname">Apellido </label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.lname ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-user icono-user"></i>
                <input
                  class="campo"
                  type="text"
                  id="lname"
                  name="lname"
                  placeholder="Tú apellido"
                  value="<%= locals.oldData ? oldData.lname : null %>"
                />
              </div>
              <% if (locals.errors && errors.lname){ %>
              <div class="text-danger"><%= errors.lname.msg %></div>
              <% } %>
            </div>

            <div class="contenedor-campo">
              <label class="campo-label" for="file">Imagen de perfil</label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.image ? 'is-invalid' : null %>"
              >
                <i class="fas fa-file"></i>
                <input
                  class="campo"
                  id="file"
                  type="file"
                  name="image"
                  accept="image/*"
                />
              </div>
              <% if (locals.errors && errors.image){ %>
              <div class="text-danger"><%= errors.image.msg %></div>
              <% } %>
            </div>

            <div class="contenedor-campo">
              <label class="campo-label" for="email">Correo electrónico</label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.email ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-envelope icono-email"></i>
                <input
                  class="campo"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="superhero@MrCoffee.com"
                  value="<%= locals.oldData ? oldData.email : null %>"
                />
              </div>
              <% if (locals.errors && errors.email){ %>
              <div class="text-danger"><%= errors.email.msg %></div>
              <% } %>
            </div>

            <div class="contenedor-campo">
              <label class="campo-label" for="psw">Contraseña</label>
              <div
                class="caja-icono-campo <%= locals.errors && errors.password ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-eye-slash icono-psw"></i>
                <input
                  class="campo"
                  type="password"
                  id="psw"
                  name="password"
                  placeholder="Tú contraseña"
                />
              </div>
              <% if (locals.errors && errors.password){ %>
              <div class="text-danger"><%= errors.password.msg %></div>
              <% } %>
            </div>

            <div class="contenedor-campo">
              <label class="campo-label" for="confirmPsw"
                >Confirma tu Contraseña</label
              >
              <div
                class="caja-icono-campo <%= locals.errors && errors.confirmPsw ? 'is-invalid' : null %>"
              >
                <i class="fa-solid fa-eye-slash icono-psw"></i>
                <input
                  class="campo"
                  type="password"
                  id="confirmPsw"
                  name="confirmPsw"
                  placeholder="Tú contraseña"
                />
              </div>
              <% if (locals.errors && errors.confirmPsw){ %>
              <div class="text-danger"><%= errors.confirmPsw.msg %></div>
              <% } %>
            </div>

            <div class="contenedor-boton-registrar">
              <input class="button-registrar" type="submit" value="Registrar" />
            </div>
          </form>
          <!--Botón redirecciónador al login-->
          <div class="contenedor-redirect">
            <button class="redirect-login" onclick="document.location='login'">
              Tengo una cuenta
            </button>
          </div>
          <div class="vinculos-register">
            <a href=""><p class="politicas">Políticas de Privacidad</p></a>
            <!--Redirección a definir-->
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <!--! JS -->
    <script src="js/search.js"></script>
  </body>
</html>
