<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/statics/products.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!--! Campaña -->
      <section class="Container-Campaign">
        <article class="campaña">
          <h1>La mejor forma de empezar el día</h1>
          <p>¡Conocé nuestros productos!</p>
          <a href="/products" class="boton-descubrir">¡Descubrír!</a>
        </article>
        <article id="wave-effect">
          <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path
              d="M-7.77,66.63 C149.99,150.22 349.21,-50.06 514.81,77.49 L500.00,150.22 L0.00,150.22 Z"
            ></path>
          </svg>
        </article>
      </section>
      <!--! Destacados -->
      <section class="conteiner-featured">
        <article class="prueba">
          <h2>DESTACADOS</h2>
        </article>
        <div class="container-products-top">
          <div class="products">
            <!--! Productos - CAFE -->
            <% for(let i=0; i < coffee.length; i++){ %>
            <article class="product-content">
              <div class="details">
                <div class="image">
                  <img
                    src="/img/products/<%= coffee[i].image%>"
                    alt="imagen del producto"
                  />
                </div>
                <div class="product-descriptions">
                  <span class="product-Name"><%= coffee[i].name%></span>
                  <span class="product-Price">$ <%= coffee[i].price%></span>
                </div>
                <% if(coffee[i].rating > 0) { %>
                <div class="product-rating">
                  <% let rating = Math.round(coffee[i].rating) %> <% for(let e =
                  0; e < rating ; e++) { %>
                  <i class="fas fa-star"></i>
                  <% } %> <% let starOver = 5 - rating %> <% for(let a = 0; a <
                  starOver; a++) { %>
                  <i class="far fa-star"></i>
                  <% } %>
                </div>
                <% } %>
                <div class="product-buttons">
                  <a href="/products/cart/<%= coffee[i].id%>">
                    <button class="product-buy">Comprar</button>
                  </a>
                  <a
                    class="product-info"
                    href="/products/detail/<%= coffee[i].id%>"
                  >
                    Informacion
                  </a>
                </div>
              </div>
            </article>
            <% }%>
            <!--! Productos - Comida -->
            <% for(let i=0; i < food.length; i++){ %>
            <article class="product-content">
              <div class="details">
                <div class="image">
                  <img
                    src="/img/products/<%= food[i].image%>"
                    alt="imagen del producto"
                  />
                </div>
                <div class="product-descriptions">
                  <span class="product-Name"><%= food[i].name%></span>
                  <span class="product-Price">$<%= food[i].price%>0</span>
                </div>
                <% if(food[i].rating > 0) { %>
                <div class="product-rating">
                  <% let rating = Math.round(food[i].rating) %> <% for(let e =
                  0; e < rating ; e++) { %>
                  <i class="fas fa-star"></i>
                  <% } %> <% let starOver = 5 - rating %> <% for(let a = 0; a <
                  starOver; a++) { %>
                  <i class="far fa-star"></i>
                  <% } %>
                </div>
                <% } %>
                <div class="product-buttons">
                  <a href="/products/cart/<%= food[i].id%>">
                    <button class="product-buy">Comprar</button>
                  </a>
                  <a
                    class="product-info"
                    href="/products/detail/<%= food[i].id%>"
                  >
                    Informacion
                  </a>
                </div>
              </div>
            </article>
            <% }%>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
